/NURAPI Objective-C Demo/NURAPI Objective-C Demo.xcodeproj/xcuserdata
/NURAPI Objective-C Demo/NURAPI Objective-C Demo.xcodeproj/project.xcworkspace/xcuserdata
/NURAPI Swift Demo/NURAPI Swift Demo.xcodeproj/xcuserdata
/NURAPI Swift Demo/NURAPI Swift Demo.xcodeproj/project.xcworkspace/xcuserdata
/NURAPI Objective-C Demo/Nordic ID RFID Demo.xcodeproj/project.xcworkspace/xcuserdata
/NURAPI Objective-C Demo/Nordic ID RFID Demo.xcodeproj/xcuserdata/chakie.xcuserdatad/xcschemes
xcuserdata
/NURAPI Objective-C Demo/Crashlytics.framework
/NURAPI Objective-C Demo/Fabric.framework
/NURAPI Objective-C Demo/App Store
/Distribution
