<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<string>Alien Technology RFID Demo</string>
	<key>companyName</key>
	<string>Alien Technology</string>
	<key>address1</key>
	<string>845 Embedded Way</string>
	<key>address2</key>
	<string>San Jose‎ CA‎ 95138-1030</string>
	<key>address3</key>
	<string>USA</string>
	<key>phone</key>
	<string>Phone: +1 408-782-3900</string>
	<key>fax</key>
	<string></string>
	<key>email</key>
	<string>support@alientechnology.com</string>
	<key>website</key>
	<string>www.alientechnology.com</string>
	<key>gitHubUrl</key>
	<string></string>
	<key>nurFirmwareIndexUrl</key>
	<string>https://raw.githubusercontent.com/NordicID/nur_firmware/master/firmwares.json</string>
	<key>nurBootloaderIndexUrl</key>
	<string>https://raw.githubusercontent.com/NordicID/nur_exa_firmware/master/firmwares.json</string>
	<key>deviceFirmwareIndexUrl</key>
	<string>https://raw.githubusercontent.com/NordicID/nur_exa_firmware/master/Applicationfirmwares.json</string>
	<key>deviceBootloaderIndexUrl</key>
	<string>https://raw.githubusercontent.com/NordicID/nur_exa_firmware/master/Bootloaderfirmwares.json</string>
</dict>
</plist>
